.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  height: 12vh;
  padding: 0 20px;
}

.left h1 {
  margin: 0;
}

.right button {
  margin-left: 20px;
}

.right button.signInBtn {
  background-color: #555;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
}

.right button.registerBtn {
  background-color: white;
  color: #333;
  padding: 15px 25px;
  border-radius: 5px;
}

.main {
  display: flex;
  flex: 1;
}

.navbar {
  width: 12vw;
  height: 100%;
  background-color: #333;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.navbar ul li {
  padding: 10px 5px;
  cursor: pointer;
  text-decoration: none; /* Remove underline */
}

.navbar ul li a {
  
  text-decoration: none;
  color: inherit;
}
.content {
  flex: 1;
  background-color: #f0f0f0;
}
